.tagscloud {
  font-family: "Heiti SC";
  padding: 6px;
  background: #fff;
}
.tagscloud-main {
  margin: 0;
  padding: 0;
}
.tagscloud-title {
  font-size: 14px;
  color: #666;
  margin: 6px;
}
.tagscloud-name {
  vertical-align: middle;
  padding: 5px;
  line-height: 22px;
  color: #999;
}
.tagscloud-main-ul {
  list-style-type: none;
  padding: 0;
  margin: 10px 0;
  overflow: hidden;
}
.tagscloud-main-ul li {
  float: left;
  background-color: #fee;
  color: #666;
  margin: 6px 3px;
  padding: 6px 9px;
  text-align: center;
  border-radius: 10px;
  -moz-border-radius: 10px;
  font-size: 12px;
}
.tagscloud-comments {
  margin: 6px;
}
.tagscloud-user {
  line-height: 16px;
  font-size: 12px;
  margin: 10px 0;
  position: relative;
}
.tagscloud-content {
  font-size: 13px;
  line-height: 16px;
  text-align: justify;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  height: 32px;
  overflow: hidden;
  word-break: break-all;
}
.tagscloud-date {
  font-size: 10px;
  padding-top: 8px;
  color: #999;
  line-height: 14px;
}
.tagscloud-more {
  text-align: center;
}
.tagscloud-more button {
  width: 107px;
  height: 24px;
  margin: 10px auto;
  border: 1px solid rgba(255, 0, 54, 0.5);
  color: rgba(255, 0, 54, 0.8);
  background: #fff;
  border-radius: 12px;
  -webkit-appearance: none;
  text-align: center;
}

.review-content {
  color: #051b28;
  font: 0.12rem/1.5 helvetica;
  background-color: #fff;
}
.review-content ul.filter {
  list-style: none;
  overflow: hidden;
  padding: 1.2em 0 0.4em;
  margin: 0 10px;
  border-bottom: 1px solid #e5e5e5;
}
.review-content ul.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.review-content ul.filter li {
  padding: 2.5% 4.5%;
  margin: 0 2.3% 3.5% 0;
  float: left;
  border-radius: 10px;
  background-color: #f5f5f5;
  color: #666;
}
.review-content ul.filter li.current {
  background-color: #ff0036;
  color: #fff;
}
.review-content ul.filter li.tag-product {
  background-color: #fee;
  color: #666;
}
.review-content ul.list .item {
  border-bottom: 1px solid #e5e5e5;
  padding: 20px 0;
  margin: 0 10px;
}
.review-content ul.list .item .info {
  overflow: hidden;
  margin-bottom: 0.8em;
  color: #999;
  margin-top: 5px;
}
.review-content ul.list .item .info .author {
  float: left;
}
.review-content ul.list .item .info time {
  float: right;
}
.review-content ul.list .item blockquote {
  margin: 0;
  padding: 0;
  font-size: 14px;
  word-wrap: break-word;
}
.review-content ul.list .item ul.sku {
  color: #999;
  margin-top: 5px;
  padding: 0;
  list-style: none;
}
.review-content ul.list .item ul.sku li {
  float: left;
}
.review-content ul.list .item ul.sku li::after {
  content: ";\3000";
}
.delButton {
  height: 1.3em !important;
  border-radius: 1.5em !important;
  float: right !important;
  margin-bottom: 0.24em !important;
  color: #999 !important;
}
.demo-loading {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 9999;
  margin-left: -25px;
  margin-top: -25px;
} 
.demo-loading {
  margin-bottom: 20px;
}