 

@font-face {
  font-family: 'demo-icons';
  src: url('//at.alicdn.com/t/font_87685_gukexhd94cmcxr.ttf') format('truetype');
}

[class^="demo-icons-"]:before, [class*=" demo-icons-"]:before {
  font-family: 'demo-icons';
  font-size: .54rem;
}

.demo-icons-weixin:before {
  content: '\e60b';
}

.demo-icons-search:before {
  content: '\e7A9';
  color: #FF685E;
}

.demo-icons-preview:before {
  content: '\e7AC';
  color: #8B78E2;
}

.demo-icons-scrolltab:before {
  content: '\e7AE';
  color: #FF685E;
}

.demo-icons-scrollnav:before {
  content: '\e7AD';
  color: #FF8D20;
}

.demo-icons-datetime:before {
  content: '\e790';
  color: #3CCD1C;
}

.demo-icons-me:before {
  content: '\e610';
}

.demo-icons-contact:before {
  content: '\e60c';
}

.demo-icons-discover:before {
  content: '\e611';
}

.demo-icons-phone:before {
  content: '\e60e';
  color: #A6A5A5;
  font-size: .42rem;
}

.demo-icons-tel:before {
  content: '\e616';
  color: #A6A5A5;
  font-size: .42rem;
}

.demo-icons-like:before {
  content: '\e60d';
  color: #A6A5A5;
  font-size: .42rem;
}

.demo-icons-lightbox:before {
  content: '\e792';
  color: #FF8D20;
}

.demo-icons-order:before {
  content: '\e60f';
  font-size: .42rem;
  color: #A6A5A5;
}

.demo-icons-button:before {
  content: '\e602';
  color: #FF685E;
}

.demo-icons-sendcode:before {
  content: '\e60a';
  color: #8B78E2;
}

.demo-icons-dialog:before {
  content: '\e603';
  color: #3CC51E;
}

.demo-icons-checklist:before {
  content: '\e7a6';
  color: #FF8D20;
}

.demo-icons-keyboard:before {
  content: '\e613';
  color: #FC746C;
}

.demo-icons-step:before {
  content: '\e7A1';
  color: #3CCD1C;
}

.demo-icons-lazyimg:before {
  content: '\e772';
  color: #3CCD1C;
}

.demo-icons-countup:before {
  content: '\e77c';
  color: #3CCD1C;
}

.demo-icons-rollnotice:before {
  content: '\e782';
  color: #8B78E2;
}

.demo-icons-accordion:before {
  content: '\e78B';
  color: #8B78E2;
}

.demo-icons-backtop:before {
  content: '\e789';
  color: #FC746C;
}

.demo-icons-rate:before {
  content: '\e76e';
  color: #FC746C;
}

.demo-icons-timeline:before {
  content: '\E79F';
  color: #FC746C;
}

.demo-icons-countdown:before {
  content: '\e774';
  color: #FF8D20;
}

.demo-icons-popup:before {
  content: '\e777';
  color: #8B78E2;
}

.demo-icons-cell:before {
  content: '\e600';
  color: #FC746C;
}

.demo-icons-tabs:before {
  content: '\e607';
  color: #FF8D20;
}

.demo-icons-list:before {
  content: '\e605';
  color: #FF8D20;
}

.demo-icons-actionsheet:before {
  content: '\e601';
  color: #3CCD1C;
}

.demo-icons-progressbar:before {
  content: '\e612';
  color: #FF8D20;
}

.demo-icons-input:before {
  content: '\e77F';
  color: #FF8D20;
}

.demo-icons-icons:before {
  content: '\e604';
  color: #8B78E2;
}

.demo-icons-tabbar:before {
  content: '\e606';
  color: #3CC51E;
}

.demo-icons-badge:before {
  content: '\e608';
  color: #EF4F4F;
}

.demo-icons-grids:before {
  content: '\e609';
  color: #8B78E2;
}

.demo-icons-slider:before {
  content: '\e614';
  color: #8B78E2;
}

.demo-icons-spinner:before {
  content: '\e615';
  color: #FF8D20;
}

.demo-icons-cityselect:before {
  content: '\e617';
  color: #FF685E;
}

.demo-icons-flexbox:before {
  content: '\e784';
  color: #FF685E;
}

.demo-icons-cr:before {
  content: '\e787';
  color: #3CC51E;
}
 

@font-face {
  font-family:'demo-category-icons';
  src: url('//at.alicdn.com/t/font_1477296366_4593668.ttf') format('truetype');
}

[class^="demo-icons-category"]:before, [class*=" demo-icons-category"]:before {
  font-family:'demo-category-icons';
  font-size: .48rem;
  color: #5B5D5C;
}

.demo-icons-category1:before {
  content: '\E604';
}

.demo-icons-category2:before {
  content: '\E602';
}

.demo-icons-category3:before {
  content: '\E605';
}

.demo-icons-category4:before {
  content: '\E603';
}

.demo-icons-category5:before {
  content: '\E607';
}

.demo-icons-category6:before {
  content: '\E600';
}

.demo-icons-category7:before {
  content: '\E606';
}

.demo-icons-category8:before {
  content: '\E601';
}


.demo-loading {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 9999;
    margin-left: -25px;
    margin-top: -25px;
}
.demo-loading svg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.demo-loading span {
    color: #cecece;
    font-size: 12px;
    width: inherit;
    height: inherit;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}